@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Abel&family=Antic+Slab&family=Great+Vibes&family=Grenze+Gotisch:wght@300&family=IBM+Plex+Serif:wght@300&family=Ma+Shan+Zheng&family=Patua+One&family=Rancho&family=Rasa:wght@300&family=Rokkitt&family=Share:ital,wght@1,700&family=Shrikhand&family=Signika:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Antic+Slab&family=Rasa:wght@300&family=Rouge+Script&family=Satisfy&family=Suez+One&family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Scheherazade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Antic+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
    text-decoration: none;
}

html {
    overflow-x: hidden;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

/* ----------------designing the top line-------------- */

body #f_page {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.363), rgba(255, 255, 255, 0.068)), url(images/lfsfront.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: slider 250s infinite;
}
/* this needs */
@keyframes slider {
    0% {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.363), rgba(255, 255, 255, 0.068)), url(images/lfsfront.jpg);
        background-position: center;
        background-size: cover;
    }
    25% {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.363), rgba(255, 255, 255, 0.068)), url(images/girlsfont.jpg);
        background-position: top;
        background-size: cover;
    }
    50%{
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.363), rgba(255, 255, 255, 0.068)), url(images/stsing.jpg);
        background-position: center;
        background-size: cover;
    }
    75%{
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.363), rgba(255, 255, 255, 0.068)), url(images/stingro.png);
        background-position: top;
        background-size: cover;
    }
    100% {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.363), rgba(255, 255, 255, 0.068)), url(images/football.jpg);
        background-position: center;
        background-size: cover;
    }
}

body #f_page .cam1 {
    overflow-y: hidden;
    height: max-content;
    min-height: 60px;
    background-color: #940000;
    color: #ffffff;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

body #f_page .cam1 .img {
    width: 9vh;
    max-width: 55px;
    max-height: 57px;
    height: 9.7vh;
    background-image: url(images/cam_uni.png);
    background-position: center;
    background-size: cover;
}

body #f_page .cam1 .text {
    color: white;
    font-family: 'Grenze Gotisch', cursive;
    text-align: center;
}

#f_page .topline {
    height: max-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 35vh;
    overflow: visible;
}

#f_page .topline .lfs {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 230px;
}

#f_page .topline .lfs .img {
    background-image: url(images/lfslogo.png);
    background-size: cover;
    background-position: center;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

#f_page .topline .lfs h1 {
    font-family: 'Great Vibes', cursive;
    color: white;
    letter-spacing: 2px;
    font-size: 2.6rem;
    padding: 5px;
}

#f_page .topline .cam {
    display: flex;
    align-items: center;
    justify-content: center;
}

#f_page .topline .cam .img {
    width: 5rem;
    height: 5.7rem;
    background-image: url(images/cam_uni.png);
    background-position: center;
    background-size: cover;
}

#f_page .topline .cam .text h1 {
    color: white;
    font-family: 'Grenze Gotisch', cursive;
}

#f_page .topline .cam .text h3 {
    font-family: 'IBM Plex Serif', serif;
    color: aliceblue;
    text-align: center;
}

/*=============================================== designing the nav bar */

#f_page .topline #navbar {
    overflow-x: visible;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    transition: 1s;
}

#f_page .topline #navbar #box {
    background: rgba( 255, 255, 255, 0.25);
    box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.397);
    backdrop-filter: blur( 5.0px);
    -webkit-backdrop-filter: blur( 5.0px);
    border-radius: 10px;
    overflow: visible;
    transition: 1s;
}

#f_page .topline #navbar #box ul li {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 95vw;
    height: auto;
    overflow: visible;
    transition: 1s;
}

#f_page .topline #navbar #box ul li>a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    font-family: 'Signika', sans-serif;
    font-weight: bolder;
    padding: 16px 10px 15px 10px;
    transition: 0.4s;
    background-color: transparent;
}

#f_page .topline #navbar #box ul li>a:hover {
    background-color: rgb(177, 2, 32);
    color: white;
}

.topline #navbar #box ul li .dropdown button {
    padding: 15px 10px 15px 10px;
    transition: 0.3s;
}

.topline #navbar #box ul li .dropdown:hover button {
    background-color: rgb(177, 2, 32);
    color: white;
}

.topline #navbar #box ul li .dropdown .dropdown-content {
    display: none;
    position: absolute;
    width: 210px;
    height: auto;
    z-index: 1;
}

.topline #navbar #box ul li .dropdown .dropbtn {
    background-color: transparent;
    border: 0px;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    font-family: 'Signika', sans-serif;
    font-weight: bolder;
}

.topline #navbar #box ul li .dropdown:hover .dropbtn i {
    transform: rotate(180deg);
    transition: 0.3s;
    color: white;
}

.topline #navbar #box ul li .dropdown .dropdown-content a {
    text-decoration: none;
    padding: 1rem;
    color: rgb(0, 0, 0);
}

.topline #navbar #box ul li .dropdown .dropdown-content a:hover {
    background-color: rgb(136, 136, 136);
}

.topline #navbar #box ul li .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 15px rgb(255, 255, 255);
    background: rgba(255, 255, 255);
    border: 1px solid #9F9F9F;
}

#f_page .topline #navbar #box ul li>a:last-child {
    display: none;
}

.sticky {
    position: fixed;
    top: 0;
}

/* ------------------------------------------------------------------------- */

@media screen and (max-width:950px) {
    .sticky {
        /* this one */
        position: fixed;
        top: 0;
        right: 2px;
    }
    #f_page .main_text {
        min-height: 70vh;
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: baseline;
    }
    body #f_page {
        justify-content: space-around;
        overflow: visible;
        height: auto;
    }
    body #f_page .cam1 {
        display: flex;
    }
    #f_page .topline {
        justify-content: space-between;
        height: max-content;
        margin: 7vh 0px 10px 0px;
    }
    #f_page .topline .cam {
        display: none;
    }
    /* -------------------------------------- */
    #f_page .topline #navbar #box ul li>a:last-child {
        display: block;
        padding: 14px;
    }
    #f_page .topline #navbar {
        width: max-content;
    }
    #f_page .topline #navbar #box ul li {
        width: auto;
        /* max-width: 50px;  */
        min-width: 38px;
        /* overflow: hidden; */
        /* max-height: 55px;  */
        height: auto;
        /* max-width: 400px; */
    }
    #f_page .topline #navbar #box ul li>a, .dropdown {
        display: none;
    }
    #f_page .topline #navbar #box ul li>a {
        padding: 5px 10px 5px 10px;
    }
    #f_page .topline #navbar #box ul li .dropdown button {
        padding: 5px 10px 5px 10px;
    }
    #f_page .topline #navbar #box ul li .dropdown .dropdown-content {
        margin-left: -80px;
    }
}

/* /////////////////////////////////////////////////////////////////////////////////////////// */

#f_page .main_text {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#f_page .main_text .text {
    text-align: center;
    height: auto;
    min-height: 200px;
    width: 100vw;
    overflow: hidden;
}

#f_page .main_text .text h1:nth-child(2) {
    font-size: 5rem;
    color: aliceblue;
    font-family: 'Share', cursive;
    /* margin: -20px 0px -10px 0px; */
    color: black;
    -webkit-text-fill-color: white;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1.4px;
    -webkit-text-stroke-color: black;
}

#f_page .main_text .text h1:first-child {
    font-family: 'Rokkitt', serif;
    color: yellow;
}

#f_page .main_text .text h1:nth-child(3) {
    font-family: 'Shrikhand', cursive;
    color: yellow;
    font-weight: lighter;
    font-size: 3rem;
}

#f_page .main_text .text a {
    margin: 40px 0px 10vh 0px;
    color: rgb(255, 255, 255);
    padding: 0.7rem 1.5rem 0.7rem 1.5rem;
    background-color: rgba(224, 0, 0, 0.863);
    border: 0px;
    border-radius: 30px;
    font-size: 1.2rem;
    font-family: 'Patua One', cursive;
    text-decoration: none;
    display: inline-block;
    transition: 1s;
}

#f_page .main_text .text a:hover {
    background-color: red;
    box-shadow: 0px 0px 60px rgb(255, 0, 0);
    border: 1px solid #a01a1a;
}

#f_page .main_text .text a i {
    vertical-align: -2px;
}

/* ----------------------------making responsive---------------------------- */

@media screen and (max-width:635px) {
    #f_page .main_text {
        align-items: flex-start;
    }
    #f_page .main_text .text h1:nth-child(2) {
        font-size: 12.5vw;
    }
    #f_page .main_text .text h1:nth-child(3) {
        font-size: 7.5vw;
    }
    #f_page .main_text .text h1:first-child {
        font-size: 5vw;
    }
    #f_page .main_text .text a {
        font-size: 3vh;
    }
}

/* ------------------------------------designing second page---------------------------- */

#sec {
    margin: 50px 0px 50px 0px;
    width: 100vw;
    height: auto;
    background-color: #ffffff;
}

#sec h1 {
    text-align: center;
    color: #003A5B;
    margin: 10px 0px 10px 0px;
    font-family: 'Rampart One', cursive;
}

#sec .cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    flex-wrap: wrap;
    background-color: #ffffff;
}

#sec .cards .c1, .c2, .c3, .c4 {
    width: 17rem;
    margin: 20px 5px 20px 0px;
    text-align: center;
    overflow: hidden;
    border-radius: 5px;
    max-height: 800px;
    min-height: 300px;
    height: 50vh;
    transition: 1s;
}

#sec .cards .c1 {
    background-image: linear-gradient(rgba(97, 7, 200, 0.431), rgba(200, 7, 103, 0.431)), url(images/pre.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

#sec .cards .c1 p {
    color: white;
    font-size: 2rem;
    margin-top: 20px;
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
}

#sec .cards .c2 {
    background-image: linear-gradient(rgba(255, 2, 2, 0.424), rgba(255, 158, 2, 0.424)), url(images/lower.jpg);
    background-position: top;
    background-size: cover;
}

#sec .cards .c2 p {
    color: white;
    font-size: 2rem;
    margin-top: 20px;
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
}

#sec .cards .c3 {
    background-image: linear-gradient(rgba(2, 255, 36, 0.424), rgba(2, 255, 200, 0.424)), url(images/lowerse.jpg);
    background-position: top;
    background-size: cover;
}

#sec .cards .c3 p {
    color: white;
    font-size: 2rem;
    margin-top: 20px;
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
}

#sec .cards .c4 {
    background-image: linear-gradient(rgba(2, 255, 221, 0.424), rgba(19, 2, 255, 0.424)), url(images/sec.jpg);
    background-position: top;
    background-size: cover;
}

#sec .cards .c4 p {
    color: white;
    font-size: 2rem;
    margin-top: 20px;
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
}

#sec .cards .c1 a, .c4 a, .c3 a, .c2 a {
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: #C11C56;
    border-radius: 20px;
    display: none;
    box-shadow: 0px 0px 40px crimson;
}

#sec .cards .c1:hover a {
    display: inline;
}

#sec .cards .c2:hover a {
    display: inline;
}

#sec .cards .c3:hover a {
    display: inline;
}

#sec .cards .c4:hover a {
    display: inline;
}

/* ------------------------------------designing add page----------------------------------- */

body .add {
    width: 100vw;
    height: auto;
    background: linear-gradient(122.77deg, rgba(255, 255, 255, 0.61) 38.04%, #FFFFFF 38.04%);
}

.add .scr {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.add .scr .imgs {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add .scr .imgs .img {
    background-image: url(images/stread.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 400px;
    max-height: 400px;
    height: 400px;
    width: 400px;
    min-width: 300px;
    min-height: 300px;
    border-radius: 20px;
}

.add .scr .imgs .img1 {
    background-image: url(images/stgread.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    margin-left: -100px;
    box-sizing: border-box;
    border: 3px solid white;
    min-width: 300px;
    min-width: 300px;
}

@media screen and (max-width:500px) {
    .add .scr .imgs {
        flex-direction: column;
    }
    .add .scr .imgs .img1 {
        margin-left: 0px;
        margin-top: -50px;
    }
}

/* @media screen (max-width:580px){
    
} */

.add .scr .tex {
    width: 550px;
    height: auto;
    margin-left: 10px;
}

.add .scr .tex h4 {
    color: #9F9F9F;
}

.add .scr .tex h1 {
    font-family: 'Staatliches', cursive;
    letter-spacing: 2px;
    font-size: 3rem;
}

.add .scr .tex p {
    text-align: justify;
    text-justify: inter-word;
}

/* -------------------------------designing the third page-----------------------------------*/

#trd {
    width: 100vw;
    height: auto;
    background-color: #DFDFDF;
}

#trd .top {
    width: 100vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#trd .top .box1, .box2, .box3 {
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin-top: 1rem;
    margin: 2vh 5px;
    text-align: center;
    color: white;
}
#trd .top a {
    transition: 0.6s;
}
#trd .top a:hover {
    box-shadow: 0px 0px 90px rgb(211, 0, 0);
    border: 2px solid crimson;
}

/* --------------------------------------------------------------------------------------------- */

#trd .top .box1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.445), rgba(0, 0, 0, 0.335)), url(images/admission.jpg);
    background-position: center;
    background-size: cover;
}

#trd .top .box1 h1 {
    font-family: 'ABeeZee', sans-serif;
    font-size: 1.6rem;
    margin: 20px 0px 30px 0px;
    font-weight: lighter;
}

#trd .top .box1 h1 i {
    font-size: 2.6rem;
    vertical-align: bottom;
    margin-right: 5px;
}

#trd .top .box1 h2 {
    font-family: 'Abel', sans-serif;
    margin: 60px 0px 60px 0px;
}

#trd .top .box1 a {
    padding: 7px;
    border-radius: 10px;
    border: 0px;
    font-size: 1.2rem;
    font-family: 'ABeeZee', sans-serif;
    background-color: #D82424;
    color: white;
    display: inline-block;
    margin-bottom: 2rem;
}

#trd .top .box1 a i {
    vertical-align: middle;
    font-size: 1.5rem;
}

/* --------------------------------------------------------------------------- */

#trd .top .box2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.445), rgba(0, 0, 0, 0.335)), url(images/book.jpg);
    background-position: center;
    background-size: cover;
}

#trd .top .box2 h1 {
    font-family: 'IBM Plex Serif', serif;
    margin: 20px 0px 0px 0px;
}

#trd .top .box2 h1 i {
    font-size: 2.6rem;
    vertical-align: bottom;
    margin-right: 10px;
    color: blue;
}

#trd .top .box2 h3 {
    font-family: 'Abel', sans-serif;
    margin: 60px 0px 60px 0px;
    font-size: 1.4rem;
}

#trd .top .box2 a {
    padding: 7px;
    border-radius: 10px;
    border: 0px;
    font-size: 1.2rem;
    font-family: 'ABeeZee', sans-serif;
    background-color: #D82424;
    color: white;
    display: inline-block;
    margin-bottom: 2rem;
}

#trd .top .box2 a i {
    vertical-align: middle;
    font-size: 1.5rem;
}

/* --------------------------------------------------------------------------------------------- */

#trd .top .box3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.445), rgba(61, 60, 60, 0.335)), url(images/prinspeak.jpg);
    background-position: center;
    background-size: cover;
}

#trd .top .box3 h1 {
    font-family: 'IBM Plex Serif', serif;
    margin: 20px 0px 0px 0px;
    font-family: 'Rancho', cursive;
    font-weight: lighter;
    font-size: 3rem;
}

#trd .top .box3 h3 {
    font-family: 'Abel', sans-serif;
    margin: 50px 0px 50px 0px;
    font-size: 1.4rem;
}

#trd .top .box3 a {
    padding: 7px;
    border-radius: 10px;
    border: 0px;
    font-size: 1.2rem;
    font-family: 'ABeeZee', sans-serif;
    background-color: #D82424;
    color: white;
    display: inline-block;
    margin-bottom: 2rem;
}

#trd .top .box3 a i {
    vertical-align: middle;
    font-size: 1.5rem;
}

/* designing the bottom one */

#trd .bottom {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

#trd .in {
    background-color: #003A5B;
    width: 80vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    color: white;
    margin: 0px 0px 30px 0px;
    flex-wrap: wrap;
}

#trd .bottom .in .img {
    width: 500px;
    height: 200px;
    background-image: url(images/lfsfront.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin: 20px 10px 20px 5px;
}

#trd .bottom .in .text h1 {
    font-family: 'Teko', sans-serif;
    letter-spacing: 5px;
    font-size: 3rem;
}

@media screen and (max-width:1134px) {
    #trd .bottom .in .text {
        text-align: center;
    }
}

#trd .bottom .in .text h1 span {
    color: yellow;
}

#trd .bottom .in .text h3 {
    font-family: 'Suez One', serif;
    font-weight: lighter;
    font-size: 1rem;
}

#trd .bottom .in .text a {
    padding: 10px;
    border-radius: 20px;
    border: 0px;
    display: inline-block;
    font-size: 0.9rem;
    color: white;
    background-color: #D82424;
    transition: 0.6s;
    margin: 0px 5px 10px 5px;
}

#trd .bottom .in .text a:hover {
    box-shadow: 0px 0px 40px crimson;
}

/* designing the fourth page */

body #frt {
    width: 100vw;
    height: auto;
    background: linear-gradient(180deg, #014360 53.11%, #FFFFFF 53.12%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
}

#frt .alumni {
    width: 570px;
    max-width: 570px;
    min-width: 100px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #014360;
}

#frt .alumni .text {
    height: auto;
    background-color: #014360;
}

#frt .alumni .text h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: #9F9F9F;
}

#frt .alumni .text h1 {
    color: white;
    font-family: 'Satisfy', cursive;
    font-size: 3rem;
}

#frt .alumni .text h1 span {
    color: #08DA2A;
}

/* ------------------------------------------------------------------------------------------- */

#frt .alumni .text .frame {
    width: 100vw;
    height: 250px;
    background-color: #00445a;
    border-radius: 20px;
    position: relative;
    max-width: 550px;
    min-width: 200px;
}

#frt .alumni .text .frame .imgso {
    width: 75px;
    height: 75px;
    background-image: url(images/baburam.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    top: 2%;
    left: 2%;
}

#frt .alumni .text .frame .name {
    position: absolute;
    left: calc(2% + 80px);
    font-size: 1.5rem;
    top: 28px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#frt .alumni .text .frame .text {
    max-width: 600px;
    position: absolute;
    min-width: 20vw;
    top: 90px;
    left: 2%;
    word-wrap: break-word;
    color: white;
    font-family: 'Roboto', sans-serif;
    word-wrap: break-word;
}

#frt .alumni .text .frame .stars {
    display: block;
    position: absolute;
    top: 190px;
    left: 3%;
}

#frt .alumni .text .frame .stars i {
    color: rgb(175, 255, 25);
}

#frt .img {
    width: 700px;
    height: 80vh;
    background-image: url(images/streading.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    flex: 2 450px;
    position: relative;
    margin-top: 20px;
    max-width: 700px;
}

#frt .img .text {
    position: absolute;
    width: 250px;
    height: 70px;
    background-color: #770202;
    top: 2%;
    left: 2%;
    border-radius: 10px;
    text-align: center;
    font-family: 'Satisfy', cursive;
    color: white;
}

#frt .img .text i {
    font-size: 2.5rem;
    color: white;
    margin: 2px 0px 0px 2px;
    vertical-align: middle;
}

/* designing the our team page---------------------------------- */

body #team {
    width: 100vw;
    height: auto;
    overflow-x: scroll;

}
body #team::-webkit-scrollbar {
    width: 20px;
    height: 10px;
    background-color: #003A5B;
}
body #team::-webkit-scrollbar-thumb {
    background-color: rgb(0, 143, 238);
    outline: 1px solid slategrey;
  }
@media screen and (max-width:950px) {
    body #team {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
    }
    body #team::-webkit-scrollbar {
        display: none;
    }
}
#team h1 {
    margin: 20px;
}

#team .frame {
    width: 1800px;
    display: flex;
    align-items: top;
    justify-content: space-around;
}

#team .frame .cards {
    width: 230px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: rgb(105, 105, 105);
}

#team .frame .cards img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#team h2 {
    color: black;
}

/* ------------------------------------------------------------------------------------------- */

body #news {
    width: 100vw;
    height: auto;
}

#news .text {
    margin: 10px;
}

#news .text h2 {
    font-family: 'Scheherazade', serif;
    font-size: 2rem;
}

#news .text h1 {
    font-size: 3rem;
    font-family: 'Rouge Script', cursive;
}

#news .news {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: auto;
}

#news .news .n1, .n2, .n3 {
    width: auto;
    height: 75vh;
    margin: 5px;
}

#news .news .n1 img {
    max-width: 400px;
    min-width: 350px;
    height: 75vh;
}

#news .news .n2 img {
    max-width: 400px;
    height: 75vh;
}

#news .news .n3 img {
    max-width: 400px;
    height: 75vh;
}

/* ------------------------------------------------------------------------------------------ */

footer {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    background-color: #003F4D;
}

footer .img {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .img .imgs {
    background-image: url(images/lfslogo.png);
    background-size: cover;
    background-position: center;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

footer .cards {
    margin-top: 20px;
    display: flex;
    height: auto;
    align-items: top;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

footer .cards .ab {
    width: 330px;
    height: auto;
    min-width: 100px;
    margin: 20px 5px 20px 5px;
}
footer .cards .ab h1 {
    font-family: "Great Vibes", cursive;
    font-size: 2rem;
    color: white;
    text-align: center;

}

footer .cards .ab h2 {
    font-size: 1.2rem;
    font-family: 'Antic Slab', serif;
    color: rgb(161, 161, 161);
    text-align: justify;
    text-justify: inter-word;
}

footer .cards .ab .icons i {
    color: #DFDFDF;
    font-size: 2rem;
    margin: 5px 1rem 0px 0px;
}
footer .cards .ab .icons i:first-child() {
    color: blue;
}

footer .cards .ab .icons a i:last-child():hover {
    color: rgb(0, 93, 243);
}

footer .cards .ab .icons i:nth-child(2) {
    color: pink;
}

footer .cards .link {
    width: 300px;
    height: auto;
    color: white;
    margin: 20px 5px 20px 5px;
    min-width: 300px;
}

footer .cards .link a {
    text-decoration: none;
    display: block;
    font-size: 1.2rem;
    color: #9F9F9F;
    font-family: 'Antic Slab', serif;
}

footer .cards .link h1 {
    font-family: 'EB Garamond', serif;
    font-size: 2rem;
    font-weight: lighter;
    text-align: center;
}

footer .cards .adds {
    width: 300px;
    height: auto;
    color: white;
    margin: 20px 5px 20px 5px;
    min-width: 300px;
}

footer .cards .adds h1 {
    font-family: 'EB Garamond', serif;
    font-size: 2rem;
    font-weight: lighter;
    text-align: center;
}

footer .cards .adds .head1, .head2, .head3 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 0.2fr 1fr;
}

footer .cards .adds .head1 i, .head2 i, .head3 i {
    grid-row-start: 1;
    grid-row-end: 3;
    font-size: 2rem;
    color: rgb(255, 255, 255);
}

footer .cards .adds .head3 h3 a {
    text-decoration: none;
    color: rgb(124, 121, 121);
}
footer .cards .adds .head1 {
    color: #969696;
}
footer .cards .adds .head2 {
    color: #969696;
}
footer .cards .adds .head3 {
    color: #969696;
}
/* making website responsive */

@media screen and (max-width:880px) and (min-width:460px) {
    #f_page .topline .cam .img {
        width: 3.3rem;
        height: 4rem;
    }
    #f_page .topline .cam .text h1 {
        font-size: 3.4vw;
    }
    #f_page .topline .cam .text h3 {
        font-size: 1vw;
    }
    #f_page .topline .lfs h1 {
        font-size: 4.3vw;
    }
    #f_page .topline .lfs .img {
        width: 4rem;
        height: 4rem;
    }
}

@media screen and (max-width:460px) {
    #f_page .topline .cam .img {
        max-width: 61px;
        min-width: 45px;
        max-height: 64px;
        min-height: 47.5px;
        width: 12vw;
        height: 13vw;
    }
    #f_page .topline .cam .text h1 {
        font-size: 5vw;
    }
    #f_page .topline .cam .text h3 {
        font-size: 1vw;
    }
    #f_page .topline .lfs h1 {
        font-size: 6.5vw;
    }
    #f_page .topline .lfs .img {
        width: 3.5rem;
        height: 3.5rem;
    }
}

/* top line made responsive */