/* .frev1,.frev2,.frev3{Importing
} all the necessary stuff from internet */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC&family=Poppins:ital,wght@1,300&family=Zen+Loop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@300&display=swap');
/* --------------------------------------actuall code begins----------------------------------------------- */
:root{
    --font: 'Encode Sans SC', sans-serif;
    --font1: 'Poppins', sans-serif;
}

html{
    font-size: 10px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100vw;
}
*{
    padding: 0rem;
    margin: 0rem;
    box-sizing: border-box;
}/*------------------------------------------------------------nav bar code--------------------------------------------------------------*/
header{
    height: 100vh;
    width: 100vw;
    background-image: url(images/plant_bac.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0% 0% , 100% 0% , 100% 80%  , 0% 100% );
}
header nav .navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header nav .navbar .links ul li {
    list-style: none;
}
header nav .navbar .links ul li a{
    text-decoration: none;
    color: yellow;
    font-size: 1.5rem;
    padding: 0.6rem;
    font-family: var(--font1); 
    position: relative;
}
/*addin hover effect in the links*/
header nav .navbar .links ul li a::before{
    position: absolute;
    width: 0%; 
    transition: 1s;
    height: 100%;
    left:  0;
    top: 0;
    content: "";
    border-bottom: 2px solid white;
    z-index: 2;
}
header nav .navbar .links ul li a:hover::before{
    width: 100%;
    border-bottom: 2px solid green;
}
/* styling the last link */
header nav .navbar .links ul li a:last-child{
    background-image: -moz-linear-gradient(to left, #2193b0 , #6dd5ed);
    background-image: -webkit-linear-gradient(to left, #2193b0 , #6dd5ed);
  background-image: linear-gradient(to left, #2193b0 , #6dd5ed);
    border-radius: 1rem;
    color: white;
}
/*---------------------------------------------------logo code------------------------------------------------*/
header nav .navbar .logo{
    width: 5rem;
    height: 5rem;
    background-image: url(images/front_pic.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    background-color: whitesmoke;
}
/*--------------------------------------nav bar ends---------------------------------------------------------*/
/* main content starts from here */
header .title{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    text-align: center;
}
/* main title */
header .title h1{
    font-size: 4rem;
    font-family: var(--font);
    /* -------------------------------font to be applied here---------- */
}
header .title p{
    font-size: 2.5rem;
}
header .title p span{
    color: rgb(252, 227, 0);
    font-family: var(--font1);
    font-weight: bolder;
}
/* button code */
header .title button{
    margin-top: 2rem;
    padding: 1rem;
    font-size: 1.8rem;
    border-radius: 2rem;
    border: 0rem;
    color: black;
    background-color:#00ff6a;
}
header .title button:hover{
    box-shadow: 0 5px 15px rgb(0, 255, 76);
    color: white;
}
/*----------------------------------------------------------- second page styling (Skill page)---------------------------------------------*/
main #second{
    width: 100vw;
    height: auto;
    background-image: -moz-linear-gradient(#00b4db,#0083b0);
    background-image: -webkit-linear-gradient(#00b4db,#0083b0);
    color: aliceblue;
}
/* designing the title of the second page*/
main #second .heading{
    text-align: center;
    font-family: var(--font);
}
main #second .heading h1{
    font-size: 5rem;
}
/* making show skill button */
main #second .heading button{
    border: 0px;
    padding: 1rem;
    background-color: #fc036b;
    color: white;
    transition: 0.5s;
    margin-top: 2rem;
    border-radius: 1rem;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -ms-transition: 0.5s;
    font-size: 1.5rem;
}
/* making button hover effect */
main #second .heading button:hover{
    font-size: 1.7rem;    
    border-radius: 3rem;
    background-color: #00ff6a;
    color: black;
    box-shadow: 2px 5px 15px rgb(0, 255, 13);
}
/* ------------------main slider div--------------------*/
main #second .slider{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: auto;
}
/*child number 1 and only of slider div */
main #second .slider .bar{
    width: 90vw;
    height: auto;
}
/* heading of the slider */
main #second .slider .bar .slider1,.slider2,.slider3,.slider4,.slider5,.slider6{
    margin-top: 1rem;
}
/* making place for the actual slider */
main #second>.slider>.bar .slider1 .inbar1 ,.slider2 .inbar2,.slider4 .inbar4,.slider3 .inbar3,.slider5 .inbar5,.slider6 .inbar6{
    width: 100%;
    height: 3vh;
    background-color: #ffffff;
    border-radius: 0.9rem;
    margin-top: 1rem;
}
/* for those actual slider line */
main #line1,#line2,#line3,#line4,#line5,#line6{
    width: 5%;
    height: 100%;
    background-color: #023b5e;
    border-radius: 0.9rem;
}
/* styling the show more link */
main #second .slider .bar .showmore{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
main #second .slider .bar .showmore a{
    text-decoration: none;
    background-color: rgb(0, 255, 128);
    padding: 1rem;
    color: #ffffff;
    font-size: 2rem;
    border-radius: 2rem;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -ms-transition: 0.5s;
    margin-bottom: 1rem;
}
main #second .slider .bar .showmore a:hover{
    color: black;
    background-color: deeppink;
    border-radius: 1rem;
    box-shadow: 2px 5px 15px rgb(136, 1, 148);
}
/* -----------------about me page begins from here----------- */
main #third{
    width: 100vw;
    height: max-content;
    overflow: hidden;
    background: linear-gradient(45deg, #e8f74d, #ff6600d9, #00ff66, #13ff13, #ad27ad, #bd2681, #6512b9, #ff3300de, #5aabde);
    background-size: 400%;
    animation: glower1 20s linear infinite;
    z-index: -4;
}
@keyframes glower1 {
  0% {
    background-position: 0 0;
  }
  
  50% {
    background-position: 400% 0;
  }
  
  100% {
    background-position: 0 0;
  }
}
/* third page heading styling */
main #third .heading_t{
    font-size: 5rem;
    font-family: var(--font);
    text-align: center;
    color: white;
}
main #third .main_t{
    width: 100vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: -2;
    overflow: hidden;
}
main #third .main_t .imgs{
    width: 50vh;
    margin-top: 2vh;
    height: 50vh;
    background-image: linear-gradient(to right bottom, #2bff63, #00eca0, #00b9ce, #00b9ce, #239dbe);;
    position: relative;
    z-index: 10;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0px 15px 35px rgb(0, 0, 0,0.2);
    backdrop-filter: blur(5px);
}

main #third .main_t .imgs::after{
    content: "";

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/front_pic.png);
    background-position: center;
    background-size: cover;
    background-attachment: local;
}
main #third .main_t .text_t{
    color: white;
    width: 90%;
    height: fit-content;
    text-align: center;
    position: relative;
    font-size:2.5vw;
    z-index: 90;
    backdrop-filter: blur(20px);
    box-shadow: 0px 15px 35px rgb(0, 0, 0,0.2);
    overflow: hidden;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
/*for second button*/

main #third .main_t .hire{
    width: 100vw;
    height: auto;
    text-align: center;
    margin-bottom: 4vh;
}
main #third .main_t .hire h1{
    font-size: 3rem;
    font-family: var(--font);
    color: whitesmoke;
}
main #third .main_t .hire .fb ,.sb{
    font-size: 2rem;
    padding: 1rem 2rem;
    margin-top: 1vh;
    color: white;
    border-radius: 20px;
    border: 0px;
    background-color: ;
}
main #third .main_t .hire .fb{
    position: relative;
    z-index:1; 
    overflow: hidden;
    background-color: transparent;
    transition: 0.7s ;
}
main #third .main_t .hire .fb::before{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 20px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background: linear-gradient(0deg, black, #444444);
    transition: 0.7s ease-out;


}
main #third .main_t .hire .fb:hover::before{
    left: 100%;
    overflow: hidden;

}
/*text color change*/
main #third .main_t .hire .fb:hover{
    color: black;
    text-shadow: 7px 5px 8px white;
}
/*second button code*/
main #third .main_t .hire .sb{
    position: relative;
    z-index:1; 
    overflow: hidden;
    background-color: transparent;
    transition: 0.7s ;
}
main #third .main_t .hire .sb::before{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 20px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    background: linear-gradient(0deg, black, #444444);
    transition: 0.7s ease-out;


}
main #third .main_t .hire .sb:hover::before{
    right: 100%;
    overflow: hidden;

}
/*text color change*/
main #third .main_t .hire .sb:hover{
    color: black;
    text-shadow: 7px 5px 8px white;
}
/* ------------------------------------fourth page starts from here----------- */
main #review{
    width: 100vw;
    height: auto;
    background-color: #161623;
    position: relative;
    z-index: -3;
}
main #review .text{
    text-align: center;
    color: white;
    font-size: 5rem;
    font-family: var(--font);
    z-index: 100;
}

main #review .box{
    width: 100vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}
main #review .box::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(#f00, #f0f);
    clip-path: circle(20% at right 70%);
    z-index: -1;
}
main #review .box::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(0, 81, 255), #f0f);
    clip-path: circle(20% at 10% 10%);
    z-index: -1;
}
main #review .box .frev1,.frev2, .frev3{
    margin: 10vh 2vh;    
    width: 60vh;
    height: 70vh;
    position: relative;
    z-index: 80;
    box-shadow: 0px 15px 35px rgb(0, 0, 0,0.2);
    border-radius: 2rem;

}
/* bluring effect */
main #review .box .frev1::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 2rem;
    z-index: 79;
}
/* adding images and text */
main #review .box .frev1 .img{
    position: absolute;
    z-index: 2;
    width: 45%;
    height: 40%;
    background-image: url(images/shreemon.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px 27.5%;
    border-radius: 50%;z-index: 81;
}
main #review .box .frev1 .text1{
    position: absolute;
    font-size:3vh;
    width: 100%;
    height: 55%;
    top: 45%;
    text-align: center;
    color: white;
    z-index: 80;
}
/*second card*/
main #review .box .frev2::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    border-radius: 2rem;
    z-index: 79;
}
main #review .box .frev2 .img{
    position: absolute;
    z-index: 2;
    width: 45%;
    height: 40%;
    background-image: url(images/shital.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px 27.5%;
    border-radius: 50%;z-index: 81;
}
main #review .box .frev2 .text1{
    position: absolute;
    font-size: 3vh;
    width: 100%;
    height: 55%;
    top: 45%;
    text-align: center;
    color: white;
    z-index: 80;

}
/*third button code*/
main #review .box .frev3::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255, 0.05);
    backdrop-filter: blur(20px);
    border-radius: 2rem;
    z-index: 79;
}
main #review .box .frev3 .img{
    position: absolute;
    z-index: 2;
    width: 45%;
    height: 40%;
    background-image: url(images/chetan.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px 27.5%;
    border-radius: 50%;z-index: 81;
}
main #review .box .frev3 .text1{
    position: absolute;
    font-size: 3vh;
    width: 100%;
    height: 55%;
    top: 45%;
    text-align: center;
    color: white;
    z-index: 80;

}
/*---------------------footer starts from here--------------*/
footer{
    width: 100vw;
    height: auto;
    background-color: #383838;
    color: white;
}
/*for the heading in the footer*/
footer .name{
    text-decoration:none ;
    color: white;
    font-size: 3rem;
    text-align: center;
    font-family: var(--font);
    pointer: cursor;
}
/*main div in footer*/
footer .fandc{                           /*here is the code */
    width: 100vw;
    height: auto;
    padding-top: 3rem;
}
/*div for the follow now*/
footer .fandc .f{
    width: 100vw;
    height: auto;
    padding-bottom: 2vh;
    padding-top: 2vh;
    border-bottom:1px solid white;
}
/*Text in follow me section*/
footer .fandc .tetx{
    font-family: var(--font);
    font-size: 1.5rem;
}
/*follow me icons section*/
footer .fandc .f .icons{
    display: flex;
    justify-content: space-evenly;
}
footer .fandc .f .icons h1{
    padding: 1rem;
    text-align: center;
    background-color: black;
    border-radius: 50%;
    position: relative;
    z-index: 1;
}
footer .fandc .f .icons h1 a i{
    background-color: black;
    border-radius: 50%;

}
footer .fandc .f .icons h1:nth-child(1)::before{
    position: absolute;
    content: "";
    background-color: #7dd1ff;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(0.4);
    transition: 0.7s;
    z-index: -1;
    box-shadow: 0 0 15px #7dd1ff;
    filter: blur(10px);
}
footer .fandc .f .icons h1:nth-child(1):hover::before{
    transform: scale(1.21);
    border-radius: 50%;
}
footer .fandc .f .icons h1:nth-child(1):hover{
    background-color: #0062ff;
    color: #0062ff;
    text-shadow: 0 0 15px #0062ff;
}
/*second one*/
footer .fandc .f .icons h1:nth-child(2)::before{
    position: absolute;
    content: "";
    background-color: #316cf5;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(0.4);
    transition: 0.7s;
    z-index: -1;
    box-shadow: 0 0 15px #3ce691;
    filter: blur(10px);
}
footer .fandc .f .icons h1:nth-child(2):hover::before{
    transform: scale(1.21);
    border-radius: 50%;
}
footer .fandc .f .icons h1:nth-child(2):hover{
    background-color: #3ce691;
    color: ;
    text-shadow: 0 0 15px #3ce691;
}
/*third one*/
footer .fandc .f .icons h1:nth-child(3){
    padding-right: 1.2rem;
    padding-left: 1.2rem;
}
footer .fandc .f .icons h1:nth-child(3)::before{
    position: absolute;
    content: "";
    background-color: #e64cc2;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(0.4);
    transition: 0.7s;
    z-index: -1;
    box-shadow: 0 0 15px #316cf5;
    filter: blur(12px);
}
footer .fandc .f .icons h1:nth-child(3):hover::before{
    transform: scale(1.21);
    border-radius: 50%;
}
footer .fandc .f .icons h1:nth-child(3):hover{
    background-color: #e64cc2;
    color: #ff00a6;
    text-shadow: 0 0 15px #316cf5;
}
/*fourth one*/
footer .fandc .f .icons h1:nth-child(4){
    padding-right: 1.2rem;
    padding-left: 1.2rem;
}
footer .fandc .f .icons h1:nth-child(4)::before{
    position: absolute;
    content: "";
    background-color: #0091ff;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(0.4);
    transition: 0.7s;
    z-index: -1;
    box-shadow: 0 0 15px #316cf5;
    filter: blur(10px);
}
footer .fandc .f .icons h1:nth-child(4):hover::before{
    transform: scale(1.21);
    border-radius: 50%;
}
footer .fandc .f .icons h1:nth-child(4):hover{
    background-color: #2d4bf7;
    text-shadow: 0 0 15px #316cf5;
}
/*-----------------designing contact me--------------- */
footer .fandc .c{
    padding-top:2vh;
    padding-bottom:2vh;
    border-bottom: 1px solid white;
}
footer  .fandc .c .text{
    font-size: 1.5rem;
    font-family: var(--font);
}
footer  .fandc .c h2{
    text-align: left;
    font-size: 2rem;
    color: white;
    
}
footer  .fandc .c h2 a{
    font-size: 2rem;
    color: white;
    text-decoration: none;
    
}
footer .fandc .credit{
    text-align: center;
    font-size: 1rem;
    padding-top: 2rem ;
    border-bottom: 1px solid white;
}
footer .fandc .credit h1:nth-child(1){
    font-size: 4rem;
    font-family: var(--font);
}
footer .copywrite{
    font-size: 1.2rem;
    text-align: center;
}
/*---------------------making website responsive------------------------*/
/*for small size mobile*/
@media only screen and (min-width:320px) and (max-width: 360px){
    main #review .box .frev1 .text1{
        font-size: 3.5vh;
    }
    main #review .box .frev2 .text1{
        font-size: 3.5vh;
    }
    main #review .box .frev3 .text1{
        font-size: 3.5vh;
    }
    footer .fandc .c h2{
        font-size: 1rem;
    }
} 
@media only screen and (min-width:361px) and (max-width: 411px){
    main #review .box .frev1 .text1{
        font-size: 3.7vh;
    }
    main #review .box .frev2 .text1{
        font-size: 3.7vh;
    }
    main #review .box .frev3 .text1{
        font-size: 3.7vh;
    }
}
@media only screen and (min-width:412px) and (max-width: 767px){
    main #review .box .frev1 .text1{
        font-size: 3.7vh;
    }
    main #review .box .frev2 .text1{
        font-size: 3.5vh;
    }
    main #review .box .frev3 .text1{
        font-size: 3.7vh;
    }
}
@media only screen and (min-width:767px) and (max-width: 1023px){
    main #review .box .frev1 .text1{
        font-size: 3.7vh;
    }
    main #review .box .frev2 .text1{
        font-size: 3.7vh;
    }
    main #review .box .frev3 .text1{
        font-size: 3.7vh;
    }
    header nav .navbar .links ul li a{
        font-size: 1.8rem;
    }
    header .title h1{
        font-size: 4.5rem;
    }
    main #third .main_t .text_t{
        font-size: 2vw;
    }


}
/*_________This is only for pro__________*/
@media only screen and (width:1024px) and (height: 1366px){
    html{
        font-size: 20px;
    }
    main #review .box .frev1 .text1{
        font-size: 3.7vh;
    }
    main #review .box .frev2 .text1{
        font-size: 3.7vh;
    }
    main #review .box .frev3 .text1{
        font-size: 3.7vh;
    }
    header nav .navbar .links ul li a{
        font-size: 1.8rem;
        margin-left: 2rem;
    }
    header .title h1{
        font-size: 4.5rem;
    }
    main #third .main_t .text_t{
        font-size: 1.5vw;
    }


}
/*This is for laptop*/
@media only screen and (min-width:1024px) and (max-width: 1439px){
    main #review .box .frev1 .text1{
        font-size: 3.7vh;
    }
    main #review .box .frev2 .text1{
        font-size: 3.7vh;
    }
    main #review .box .frev3 .text1{
        font-size: 3.7vh;
    }
    header nav .navbar .links ul li a{
        font-size: 1.8rem;
        margin-left: 2rem;
    }
    header .title h1{
        font-size: 4.5rem;
    }
    main #third .main_t .text_t{
        font-size: 1.5vw;
    }
    footer .fandc .f{
        width: 45vw;
        height: auto;
        padding-bottom: 2vh;
        padding-top: 2vh;
        border-bottom:0px solid white;
    }
    footer .fandc{   
        width: 50vw;
        height: auto;
    }
    footer .fandc{                           /*here is the code */
        width: 100vw;
        height: auto;
        padding-top: 3rem;
        display: flex;
        justify-content: space-evenly;
    }

}
@media only screen and (min-width:1440px) and (max-width: 1000000px){
    main #review .box .frev1 .text1{
        font-size: 3.7vh;
    }
    main #review .box .frev2 .text1{
        font-size: 3.7vh;
    }
    main #review .box .frev3 .text1{
        font-size: 3.7vh;
    }
    header nav .navbar .links ul li a{
        font-size: 1.8rem;
        margin-left: 2rem;
    }
    header .title h1{
        font-size: 4.5rem;
    }
    main #third .main_t .text_t{
        font-size: 1.5vw;
    }
    footer .fandc .f{
        width: 45vw;
        height: auto;
        padding-bottom: 2vh;
        padding-top: 2vh;
        border-bottom:0px solid white;
    }
    footer .fandc{   
        width: 50vw;
        height: auto;
    }
    footer .fandc{                           /*here is the code */
        width: 100vw;
        height: auto;
        padding-top: 3rem;
        display: flex;
        justify-content: space-evenly;
    }
    main #third .main_t .hire h1{
        font-size: 5rem;
        font-family: var(--font);
        color: whitesmoke;
    }
    main #third .main_t .hire .fb ,.sb{
        font-size: 3rem;
        padding: 1rem 2rem;
        margin-top: 1vh;
        color: white;
        border-radius: 20px;
        border: 0px;
        background-color: ;
}

}

